:root {
	--cards: 4;
	--cardHeight: 87vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}

.container {
	width: 90%;
	margin: 0 auto;
	margin-top: 6rem;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
	place-items: center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}



.card {
	position: relative;
	max-width: 60vw;
	height: 75vh;
	min-width: 45vw;
	/* padding-top: calc(var(--index) * var(--cardTopPadding)); */
	margin-bottom: 2rem;
}

#card1 .card-body {
	background-color: transparent;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: transparent;
}
#card3 .card-body {
	background-color: transparent;
}
#card4 .card-body {
	background-color: transparent;
}

.card-body {
	position: relative;
	width: 100%;
	border-radius: 50px;
	border-radius: 23px 23px 50px 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
	height: 75vh;
	transition: all 0.5s;
}
@media(max-width:900px){
    .card-body{
		height: 60vh;
	}
	.card{
		max-width: 70vw;
		height: 60vh;
	}
}
@media(max-width:420px){
	.card-body{
		height: 50vh;
	}
	.card{
		height: 50vh;
		max-width: 80vw;
	}
	#cards{
		margin: 0 5%;
		grid-template-rows: unset;
		gap: 1vw;
	}
}



