@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff5e1;
}
.outer-container{
  position: relative;
  z-index: 1;
 
}
.mega-cont-flex-2{
   display: flex;
   align-items: center;
   justify-content:center;
   flex-wrap: wrap;
   margin: 0% 7%;
   min-height: 100vh;
}
.mega-cont-flex-2-no-margin{
  display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   min-height: 100vh;
}
.tagline-cont{
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.4rem;
  transition: 0.5s ;
}

.image-slider-cont{
  position: relative;
  width: 40%;
  height: 45rem;
  background-color: black;
}
.uni-up-margin{
height: 4rem;
}


.share-tech{
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
}
/* .share-tech{
  font-family: "Bungee Inline", serif;
  font-weight: 400;
  font-style: normal;
}
.share-tech{
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
.share-tech{
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
} */

.title{
  font-size:  80px;
  color: #299e71;
}
.sml-title{
  font-size: 40px;
  color: chocolate;
}
.profile-photo-cont{
  width: 50%;
  height: 100vh;
  background-color: black;
}
.profile-photo-cont img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.profile-content-cont{
  width: 42%;
  height: 100vh;
  background-color: #ff6f61;
  background-color: #fff5e1;
  
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.big-title{
  font-size: 90px;
  color: #ff6f61
}
.text{
  font-size: 21px;
  color: rgb(211, 207, 207);
}
@media(max-width:420px){
  
  .tagline-cont{
    width: 100%;
    margin-top: 3rem;
  }
  .image-slider-cont{
    width: 100%;
    height: 35rem;
  }
  .full-image-cont{
    height: 35rem;
  }
  .title{
    font-size: 45px;
  }
  .sml-title{
    font-size: 25px;
    text-decoration: underline;
  }
  .profile-photo-cont{
    width: 100%;
    margin: 1% 7%;
    height: 32rem;
  }
  .profile-content-cont{
    width: 100%;
    margin: 1% 7%;
    height: fit-content;
  }
  .mega-cont-flex-2-no-margin{
    height: fit-content;
  }
  .big-title{
  font-size: 55px;
  }
 
}
